{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block title %}Gallery{% endblock %}

{% block content %}
    <h1>Dodaj gallerie eventu</h1>

    <div class="row">
        <div class="col-6 offset-md-3">
            <form id="pet_form" method="post" action="." enctype="multipart/form-data">

                {% csrf_token %}

                {{ event_form|crispy }}

                {{ form_set.management_form }}
                {% for form in form_set %}
                {{ form|crispy }}
                {% endfor %}

                <input type="submit" name="submit" value="Submit" />
            </form>
        </div>
    </div>


{% endblock %}