{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block content %}
    <h1>Zaloguj sie</h1>

    <div class="login-form">
        <form action="." method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}" />
            <p><input type="submit" value="Zaloguj"></p>
        </form>
        <p><a href="{% url "password_reset" %}">Zapomniałeś hasła?</a></p>
        <p><a href="{% url "register" %}"> Rejestracja </a></p>
    </div>
{% endblock %}